<div class="container mt-3">
    <create-course></create-course>
    <div class="list-group">
        <ng-container *ngFor="let course of pagingService.page">
            <div style="position:relative;">
                <a [routerLink]="[course.id, 'edit']"
                   class="list-group-item list-group-item-action flex-column align-items-start"
                   (click)="courseService.currentCourse = course;" >
                    <div class="d-flex w-100 justify-content-between" [ngClass]="{'pl-4': isLoggedIn}">
                        <h5 class="mb-1">
                            {{course.title}}
                            <small *ngIf="course.published">(Published)</small>
                        </h5>
                        <small>{{course.created | date: 'MM/dd/yyyy'}}</small>
                    </div>
                    <div [ngClass]="{'pl-4': isLoggedIn}">
                        <p class="mb-1">{{course.deck}}</p>
                    </div>
                    <!--<div [ngClass]="{'pl-4': isLoggedIn}" *ngIf="course.tags">-->
                        <!--<span *ngFor="let tag of feature.tags; let i = index" class="badge badge-default ml-1">-->
                                <!--{{tag}}-->
                            <!--</span>-->
                    <!--</div>-->
                </a>
            </div>
        </ng-container>
    </div>

    <ng-container *ngIf="pagingService.pages > 1">
        <paginate [page]="pagingService" (change)="change($event)"></paginate>
    </ng-container>
</div>