<h3>Edit Product Content</h3>

<section *ngFor="let item of product.body; let i = index; let l = last">
    <div class="edit-controls">
        <i class="fa fa-close pull-right" (click)="removeBody(i)"></i>
        <i class="fa fa-edit pull-right" (click)="item.edit = 1" *ngIf="!item.edit"></i>
        <i class="fa fa-check pull-right" (click)="save();item.edit = 0" *ngIf="item.edit"></i>
        <i class="fa fa-arrow-up" (click)="moveUp(i)" *ngIf="item.edit && i"></i>
        <i class="fa fa-arrow-down" (click)="moveDown(i)" *ngIf="item.edit && !l"></i>
    </div>
    <ng-container *ngIf="!item.type">
        <markdown [data]="item.content" class="fill-editor-preview" *ngIf="!item.edit"></markdown>
        <tabset *ngIf="item.edit">
            <tab heading="Markdown" id="tab1">
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Feature Content" [(ngModel)]="item.content"></textarea>
                </div>
            </tab>
            <tab heading="Preview">
                <markdown [data]="item.content" class="fill-editor-preview"></markdown>
            </tab>
        </tabset>
    </ng-container>
    <ng-container *ngIf="item.type">
        ___link___article___{{item.content._id}}___inline___
    </ng-container>
</section>
<hr *ngIf="unselectedFeatures.length"/>
<div class="row" *ngIf="unselectedFeatures.length">
    <div class="col-12">
        <label>Link Inline Features</label>
        <select [(ngModel)]="body" (change)="selectchange($event)">
            <option></option>
            <option *ngFor="let feature of unselectedFeatures" [ngValue]="feature._id">
                {{feature.title}}
            </option>
        </select>
    </div>
</div>
<hr/>
<div class="form-group">
    <tabset>
        <tab heading="Markdown" id="tab1">
            <textarea class="form-control" rows="3" placeholder="Feature Content" [(ngModel)]="body"></textarea>
        </tab>
        <tab heading="Preview">
            <markdown [data]="body" class="fill-editor-preview"></markdown>
        </tab>
    </tabset>
</div>
<button class="btn btn-primary" (click)="updateBody();">
    Update
</button>