<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group pl-2">
                <li>
                    <a (click)="state = 'edit'; type = '';"
                            [routerLink]="['/instructor', 'features', feature.id, 'edit']">Edit</a>
                </li>
                <li>
                    <a (click)="state = 'articles'; type = '';"
                       [routerLink]="['/instructor', 'features', feature.id, 'articles']">Articles</a>
                </li>
                <li>
                    <a (click)="state = 'body'; type = '';"
                       [routerLink]="['/instructor', 'features', feature.id, 'body']">Content</a>
                </li>
                <li>
                    <a (click)="state = 'publish'; type = '';"
                       [routerLink]="['/instructor', 'features', feature.id, 'publish']">Publish</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">

            <alert-status [type]="type" [msg]="msg" *ngIf="type && msg"></alert-status>

            <div [collapse]="state != 'edit'">
                <feature-info [feature]="feature" (callback)="callback($event)"></feature-info>
            </div>

            <div [collapse]="state != 'articles'">
                <feature-articles *ngIf="articles.length" [feature]="feature" [articles]="articles"
                                  (callback)="callback($event)"></feature-articles>
            </div>

            <div [collapse]="state !== 'body'">
                <feature-body *ngIf="articles.length" [feature]="feature" [articles]="articles"
                              (callback)="callback($event)"></feature-body>
            </div>

            <div [collapse]="state !== 'publish'">
                <feature-publish [feature]="feature" (callback)="callback($event)"></feature-publish>
            </div>

        </div>
    </div>
</div>