<div class="container mt-3">
    <h1>List My Products</h1>
    <create-feature></create-feature>
    <div class="list-group">
        <ng-container *ngFor="let feature of pagingService.page">
            <div style="position:relative;">
                <a [routerLink]="[feature.id, 'edit']"
                   class="list-group-item list-group-item-action flex-column align-items-start"
                   (click)="featureService.currentFeature = feature;" >
                    <div class="d-flex w-100 justify-content-between" [ngClass]="{'pl-4': isLoggedIn}">
                        <h5 class="mb-1">
                            {{feature.title}}
                            <small *ngIf="feature.published">(PUBLISHED)</small>
                        </h5>
                        <small>{{feature.created | date: 'MM/dd/yyyy'}}</small>
                    </div>
                    <div [ngClass]="{'pl-4': isLoggedIn}">
                        <p class="mb-1">{{feature.deck}}</p>
                    </div>
                    <div [ngClass]="{'pl-4': isLoggedIn}" *ngIf="feature.tags">
                        <span *ngFor="let tag of feature.tags; let i = index" class="badge badge-default ml-1">
                                {{tag}}
                            </span>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>

    <ng-container *ngIf="pagingService.pages > 1">
        <paginate [page]="pagingService" (change)="change($event)"></paginate>
    </ng-container>
</div>