<div class="container mt-3">
    <div class="row bg-faded navbar">
        <div class="container">
            <a class="btn btn-primary pull-right" [routerLink]="['new']">Create Product</a>
        </div>
    </div>
    <div class="list-group">
        <ng-container *ngFor="let product of pagingService.page">
            <div style="position:relative;">
                <a [routerLink]="[product.id]"
                   class="list-group-item list-group-item-action flex-column align-items-start"
                   (click)="productService.currentProduct = product;" >
                    <div class="d-flex w-100 justify-content-between" [ngClass]="{'pl-4': isLoggedIn}">
                        <h5 class="mb-1">
                            {{product.title}}
                            <small *ngIf="product.published">(Published)</small>
                        </h5>
                        <small>{{product.created | date: 'MM/dd/yyyy'}}</small>
                    </div>
                    <div [ngClass]="{'pl-4': isLoggedIn}">
                        <p class="mb-1">{{product.deck}}</p>
                    </div>
                    <div [ngClass]="{'pl-4': isLoggedIn}" *ngIf="product.tags">
                        <span *ngFor="let tag of product.tags; let i = index" class="badge badge-default ml-1">
                                {{tag}}
                            </span>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>

    <ng-container *ngIf="pagingService.pages > 1">
        <paginate [page]="pagingService" (change)="change($event)"></paginate>
    </ng-container>
</div>